*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9f8;
}
.title-nav{
    padding-left: 180px;
    color: #f2f2f2;
    font-size: 25px;
    margin-bottom: 15px;
}
header{
    width: 1400px;
    height: 450px;
    background: url(../img/img-header.jpg);
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.nav-fixed{
    
    width: 100%;
    max-width: 1400px;
    margin: auto;
    text-align:center;
    align-items: center;
}
/*------------galery and fixes------------*/
.contenedors{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.contenedor-pack{
    margin-left: 200px;
    max-width: 1915px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    background:  rgb(29, 17, 15);
}

.galery{
    background: #f2f2f2;
}
.contenedor-galeria{
    padding-left: 55px;
    display: flex;
    justify-content: spacer-evenly;
    flex-wrap: wrap;
}


.img-galeria{
    object-fit: cover;
    width: 40%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0 , 0, 0, 0.5);
    cursor: pointer;
}
.imagen-light{
    position: fixed; /*se fije a la pag*/
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex; /*centrar la imgaen*/
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;/*timing function ease in out*/
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px ;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{ /*se muestra la imagen al hacerle click*/
    transform: scale(1);
}
.close{
    position: absolute; /*boton se colocara con su padre*/
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}


/*  ---------    SLIDER    --------  */
.contenedor{
    width: 100%;
    max-width: 1905px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.slider-contenedor{
    width: 100%;
    display: flex; 
}
.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/slider/slider3.jpg);
    flex-shrink: 0;
}
.contenido-slider:nth-child(2){
    background: #332863;
    color: #fff;
    background: url(../img/slider/slider2.jpg);
    flex-shrink: 0;
}
.contenido-slider:nth-child(3){
    background: #611a68;
    background: url(../img/slider/slider1.jpg);
    flex-shrink: 0;  
}
.contenido-slider > img{
    width: 400px;   
}
.contenido-slider > div{
    width: 40%;
}
.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}
.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}
.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863; 
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}
/* ------ end SLIDER   -----   */

.conteiner01{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
}
.conteiner02{
    width: 100%;
    height: 728px;
    /*display: flex;-*/
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(14, 13, 13);
}
.conteiner03{
    margin-top: 100px;
}

.relax-comment{
    padding-top: 100px;
}

.title-pack{
    font-size: 20;
    color: #f8f9f8;
    padding-top: 50px;
    padding-left: 120px;
}

/*--------- RESTAURANT SECTION ------------*/

.conteiner-restaurant-up{
    width: 100%;
    margin-top: -60;
    height: 975px;
    /*display: flex;-*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*flex-shrink: 0;*/
    background-color: #f8f9f8;
}
.img-restaurant-1{
    margin-left: 75px;
}
.img-restaurant-2{
    margin-top: -20;
}
.text-restaurant{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
    text-align:center;
}
.button-restaurant-1{ 
    margin-left: 125px;
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    margin-top: 20px;
    text-decoration: none;
}
.conteiner02{
    width: 100%;
    height: 728px;
    /*display: flex;-*/
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(29, 17, 15);
}
/*--------- end RESTAURANT ------------*/
.text-aling-center{
    color: #f8f9f8;
    margin-top: 50px;
}
.font-size-h1{
    font-size: 60px;
    color: #f8f9f8;
    line-height: 100px;
}
.font-size-h-color{
    font-size: 60px;
    color: #918caa;
    text-align: center;
}
.text-about{
    font-size: px;
    color: #f8f9f8;
    /*text-align: center;*/
}
.button-new{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    margin-top: 20px;
    text-decoration: none;
}

/*---animated----*/
.animated {
    opacity: 0;
    transition: all 2s;
}
.showHeight{
    animation: showHeight 2s;
}
@keyframes showHeight {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);  
    }
}
/*---end animated----*/

/* -----------       information        ------------*/

.conteiner-information{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color:rgb(29, 17, 15);
}

div#text{
    color: #fff;
}
div#text1{
    letter-spacing: 3px;
    color: rgb(224, 205, 140);
}
/* -----------       end information        ------------*/

/*---------=testimonial---------*/

.conteiner-testimonial{
    width: 100%;
    height: 728px;
    /*display: flex;-*/
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: #f8f9f8;
}

.tittle-basic{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  rgb(224, 205, 140);
    text-align: center ;
    color: #332863;
    letter-spacing: 4px;
}

.testimonial{
    padding-left: 20px;
    margin-left: 50px;
}
.button-testimonial{ 
    margin-left: 125px;
    color: #f8f9f8;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    margin-top: 20px;
    text-decoration: none;
}
/*--------------- Show  / show testimonial-----------------*/

div#galerys {
	/*font-size: 0;*/
	background: rgb(235, 235, 235);
} 
div#galerys img {
	width: 50%;
	height: auto; 
	opacity: 0;
	transition: .8s opacity;
    margin-left: 70px;
}
div#galerys img.visible {
	opacity: 1;
}
/*--------------- finshow  -----------------*/

/*-------------packs----------------*/
.conteiner-pack{
    padding-left: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color:rgb(29, 17, 15); 
}

.conteiner-pack-mid{
    padding-left: 50px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color:rgb(224, 205, 140); 
}

.button-packs{ 
    margin-left: 60px;
    margin-bottom: 5px;
    color: #f8f9f8;
    background: rgb(117, 117, 47);
    width: 120px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
}

/*---------footer--------*/

.footer{
    background: #473e5c;
    padding-bottom: 0.1px; /*colapsado de marg*/
                        /*computado de margenes -trabaja con la clase line*/
}
.footer-content{
    
    display: flex;
    justify-content: space-between; /*para q los elementos esten unos al lado del otro pero en las esquinas*/
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: rgb(161, 76, 76);
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 30%;
    display: flex;
    justify-content: flex-end; /*para q ponga al final del conetenedor*/
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{ /*computado de margenes*/
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
